<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Album</title>
       <style>
        .Input{
            width: 350px;
            height: 35px; border-color: brown;
            border-radius: 20px;
            margin-bottom: 20px;
            outline:none;
        }

    </style>
</head>
<body>
<center>
  <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
        Album Name <br>
        <input type="text" class="Input" placeholder="Album Name" required
               name="album_name"><br>
        Artist Name <br>
        <input type="text" class="Input" placeholder="Artist Name" required
               name="album_artist"><br>
        Banner <br>
        <input type="file" name = "album_banner" required><br>
        <br>
        <button type="submit" class="Input">Add New Album</button>
    </form>

</center>

</body>
</html>